<% include partials/header %>
<div class="ui main container">
  <div class="ui segment inverted">
    <div class="ui header centered blue">
      <h1>This is the landing page for Techshare</h1>
    </div>
    <br>
  </div>
  <p class="ui centered aligned header">
      <a href="/content" class="ui inverted blue button centered aligned">View All</a>
  </p>
</div>


<% include partials/footer %>
